<form action="/prehistoric_creatures" method="POST">
    <label for="creatureType">Type</label>
    <input type="text" name="type" id="creatureType">

    <label for="creatureImg">Image Url</label>
    <input type="text" name="img_url" id="creatureImg">

    <input type="submit">
</form>